# Base de Datos Relacional (PostgreSQL)
POSTGRES_USER=newsuser
POSTGRES_PASSWORD=newspassword
POSTGRES_DB=newsradar_db
DATABASE_URL=postgresql+asyncpg://newsuser:newspassword@db_postgres:5432/newsradar_db

# Base de Datos Documental (MongoDB)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGODB_URL=mongodb://admin:adminpassword@db_mongodb:27017

# Seguridad y FastAPI
SECRET_KEY=cambiame_por_algo_seguro
ALGORITHM=HS256

# Email (SMTP) - Para las alertas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-email@gmail.com
SMTP_PASSWORD=tu-app-password

# IA
# Fuerza proveedor si quieres: gemini | groq | openai
# IA_PROVIDER=groq

# Groq (recomendado si vas a usar Groq)
GROQ_API_KEY=gsk_...
GROQ_MODEL=llama-3.1-8b-instant

# OpenAI / OpenAI-compatible
OPENAI_API_KEY=sk-xxxx
OPENAI_MODEL=gpt-3.5-turbo

# Competición / Feature Flags
FEATURE_FLAG_WORDCLOUD=true
FEATURE_FLAG_BILINGUAL=true

# Docker
IMAGE_TAG=latest
