# Base de Datos Relacional (PostgreSQL)
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=newsradar_core
DATABASE_URL=postgresql+asyncpg://admin:password123@db_postgres:5432/newsradar_core

# Base de Datos Documental (MongoDB)
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=adminpassword
MONGODB_URL=mongodb://admin:adminpassword@db_mongodb:27017

# Seguridad y FastAPI
SECRET_KEY=cambiame_por_algo_seguro
ALGORITHM=HS256

# Email (SMTP) - Para las alertas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-email@gmail.com
SMTP_PASSWORD=tu-app-password

# Diccionario manual para sinonimos
# MANUAL_SYNONYMS_FILE=../../data/manual_synonyms.json

# Competición / Feature Flags
FEATURE_FLAG_WORDCLOUD=true
FEATURE_FLAG_BILINGUAL=true
